.sales-list {
    width: 260px;
    height: 430px;
    overflow: hidden;
}
.sales-list ul {
    height: 300px;
    overflow: hidden;
    margin-bottom: 10px;
}
.sales-list li {
    padding-bottom: 7px;
}
.sales-list li a {
    display: block;
    color: #333;
}
.sales-list li a:hover {
    color: #f44;
}
.sales-list li b {
    padding-right: 8px;
}
.sales-list li span {
    color: #999;
}
.sales-news-banner {
    display: block;
    position: relative;
}
.sales-news-banner i {
    position: absolute;
    top: -14px;
    left: 215px;
    display: block;
    width: 37px;
    height: 30px;
    _zoom: 1;
}
.sales-news-banner i {
    background: url(http://img01.taobaocdn.com/tps/i1/T1_NrmXnBkXXcAHZ70-234-320.png) no-repeat  0 -120px;
    _background: none;
    _filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src = 'http://img01.taobaocdn.com/tps/i1/T1FFPgXeRaXXc0lmLe-37-30.png',sizingMethod = 'crop');
}
